.servicesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 50px;
  padding-top: 80px;
  margin: 0 auto;
}

.servicesTitle {
  padding-top: 80px;
  color: var(--Grey-50, #797c86);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.servicesText {
  margin-top: 0;
  color: #fff;
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.servicesA {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2f2f37;
  background: var(--Dark-12, #1c1c21);
}

.servicesA:hover {
  background: rgb(39, 39, 49);
}
