
.ReviewClientCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(28, 28, 33);
  position: relative;
  background: rgb(14, 14, 16);
  padding: 30px;
  height: 300px;
}

.DataClient {
  display: flex;
  justify-content: space-between;
}

.NameLocationClientCont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.NameClientSpan {
  color: var(--Grey-90, #e4e4e6);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.LocatoionClient {
  color: var(--Grey-40, #62646c);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.GradeClient {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.ReviewClientText {
  color: var(--Grey-90, #e4e4e6);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  max-width: 450px;
}
