.PortfolioSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 80px;
  padding-bottom: 100px;
}

.PhotoWorkMainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(28, 28, 33);
  padding-bottom: 50px;
  padding-top: 100px;
}

.PhotoWorkTitle {
  display: flex;
  flex-direction: column;
}

.PhotoWorkSpan {
  color: var(--Grey-50, #797c86);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.PhotoWorkText {
  margin-top: 0;
  color: var(--text-color);
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.PortfolioImageWorkMainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.ImageCardMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  flex: 1 0 0;
  max-width: 450px;
}

.ImageDivCard {
  width: 450px;
  height: 400px;
}

.ImageDiv {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.ImageDescriptionMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ImageDescriptionNameAndData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.NamePhoto {
  color: var(--Grey-80, #cacace);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.DatePhoto {
  color: var(--Grey-50, #797c86);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ViewProjectMainDiv {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.ViewProjectText {
  color: var(--Grey-95, #f2f2f3);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.ViewProject {
  display: flex;
  padding: 6px 0px;
  align-items: flex-start;
  gap: 10px;
}

.ViewProjectImage:hover {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

@media (max-width: 950px) {
  .PortfolioImageWorkMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
