.MyNameSection {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.MyNameContiner {
  display: flex;
  justify-content: flex-end;
}

.MyNameText {
  box-sizing: border-box;
  display: block;
  font-family: Manrope;
  font-size: 300px;
  font-weight: 600;
  line-height: 420px;
  color: rgb(121, 124, 134);
  margin: 0;
}

@media (max-width: 1427px) {
  .MyNameText {
    font-size: 200px;
  }
}

@media (max-width: 951px) {
  .MyNameText {
    font-size: 150px;
  }
}

@media (max-width: 700px) {
  .MyNameText {
    font-size: 100px;
  }
}

@media (max-width: 470px) {
  .MyNameText {
    font-size: 50px;
  }
}
