.title {
  display: flex;
  padding: 80px 162px;
  justify-content: space-between;
  position: relative;
  background: rgb(7, 7, 8);
}

.imagetitle {
  top: 0;
  position: absolute;
  right: 41%;
  z-index: 100;
}

.nameDivContainer {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 33%;
}

.nameDiv,
.textLetswork,
.textwork {
  font-family: Manrope;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #e4e4e6;
  margin: 0;
}

.textLetswork,
.textwork {
  font-size: 58px;
}

.nameDivSpan {
  color: rgb(121, 124, 134);
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.nameDiv {
  margin: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.textAndBtn {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.btnLetswork {
  border-radius: 100px;
  box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
  background: #4a2ced;
  padding: 18px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.workUrl {
  transition: transform 0.3s ease;
}

.btnLetswork:hover .workUrl {
  transform: rotate(45deg);
}
