.title {
  display: flex;
  padding: 80px 162px;
  justify-content: space-between;
  position: relative;
  background: rgb(7, 7, 8);
}

.imagetitle {
  top: 0;
  position: absolute;
  right: 41%;
  z-index: 100;
}

.nameDivContainer {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 33%;
}

.nameDiv,
.textLetswork,
.textwork {
  color: var(--Absolute-White, #fff);
  font-family: Manrope;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.textLetswork,
.textwork {
  font-size: 58px;
}

.nameDivSpan {
  color: rgb(121, 124, 134);
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.nameDiv {
  margin: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.textAndBtn {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
