.logo {
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .logo {
    font-size: 20px;
  }
}
