.socMedia {
  border: 1px solid rgb(28, 28, 33);
  display: flex;
  column-gap: 16px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 100px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.iconSocMedia {
  cursor: pointer;
  display: flex;
  padding: 14px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #2f2f37;
  background: var(--Dark-12, #1c1c21);
}
