.servicesSection {
  display: flex;
  flex-direction: column;
}

.servicesBtnMainDiv {
  padding-top: 20px;
}

.servicesText {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.servicesA {
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2f2f37;
}

.servicesA:hover {
  background-color: #9e9e9e;
}

@media (max-width: 950px) {
  .servicesSection {
    display: none;
  }
}
