.BottomSection {
  display: flex;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: flex-start;
  width: 82%;
  margin: 0 auto;
}

.BottomSectionContiner {
  width: 100%;
}

.BottomSectionMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BottomSpan {
  display: flex;
  align-items: center;
  gap: 11px;
}

.SpanBottom {
  color: var(--Grey-50, #797c86);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

@media (max-width: 546px) {
  .BottomSectionMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
