html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1596px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background: #000;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms 0ms linear;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

@media (max-width: 950px) {
  body {
    overflow-x: hidden;
    display: block;
    scroll-behavior: smooth;
  }
}
