/* :root {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #bb86fc;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #3f51b5;
} */

/* body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
} */
