.nav {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

nav a {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-align: center;
  padding: 30px 40px;
  border-top: 1px solid rgb(28, 28, 33);
  border-left: 1px solid rgb(28, 28, 33);
  border-right: 1px solid rgb(28, 28, 33);
  border-bottom: none;
  border-radius: 12px 12px 0px 0px;
}

nav a:hover {
  background-color: #9e9e9e; 
}

@media (min-width: 950px) {
  .mobileMenu {
    display: none;
  }
}

@media (max-width: 950px) {
  .mobileMenu {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
  }

  .mobileMenu.open {
    display: flex;
  }

  .menuLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-bottom: 1px solid #2f2f37;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .menuLink:last-child {
    border-bottom: none;
  }
}
